# ignore !!!_core directory
!!!_core/

# ignore backups directory
backups/

#ignore app/includes/init_local.php
app/includes/init_local.php

#ignore app/includes/config_remote.php
app/includes/config_remote.php